{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="row">
    <button class="btn btn-success">{{ button_label|default('Далее') }}</button>
    <a class="btn btn-info ml-3" href="{{ path('batch_index') }}">Назад к списку</a>
</div>

{{ form_end(form) }}
