{% extends 'base.html.twig' %}

{% block title %}Редактор папки{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dm-uploader.css') }}">
{% endblock %}


{% block body %}
    <h1>Редактировать папку</h1>
    {% if is_granted('ROLE_EDITOR_DELETE') %}
        {{ include('batch/_delete_form.html.twig') }}
    {% endif %}
    <a target="_blank" class="btn btn-primary" href="{{ batch.link }}"><i class="fa fa-folder-open"></i> Я.Диск</a>
    {{ include('batch/_form.html.twig', {'button_label': 'Обновить'}) }}

    {% if files|length > 0 %}
        <h2>Имеющиеся файлы</h2>
        <table class="table table-striped">
            <tr>
                <th>Миниатюра</th>
                <th>Название</th>
                <th>Размер</th>
                <th>Загружен</th>
            </tr>
            {% for file in files %}
            <tr>
                <td><img src="data:{{ file.imageType }};base64,{{ file.imageData }}" alt="{{ file.displayName }}"></td>
                <td>{{ file.displayName }}</td>
                <td>{{ file.contentLength }} КБ</td>
                <td>{{ file.creationDate }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if is_granted('ROLE_EDITOR_ADD') %}
        {{ include('batch/_drop_zone.html.twig') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/depended_lists.js') }}"></script>
    <script src="{{ asset('js/jquery.dm-uploader.js') }}"></script>
    <script src="{{ asset('js/images-uploader.js') }}"></script>
{% endblock %}