{% extends 'base.html.twig' %}

{% block title %}Фотобанк Кволити Моторс{% endblock %}

{% block body %}
    <h1>Список папок</h1>
    <h3>Всего: {{ pagination.getTotalItemCount }}</h3>
    <button class="btn btn-info my-3 toggle-hidden" data-selector="#filter">Фильтр</button>
    {#Фильтр. Начало#}
    <div id="filter" style="display:none;">
        {{ form_start(formFilter) }}
        <button type="submit" class="btn btn-primary">Найти</button>
        {{ form_widget(formFilter) }}
        <button type="submit" class="btn btn-primary">Найти</button>
        {{ form_end(formFilter) }}
    </div>
    {#Фильтр. Конец#}
    {% if user.validToken %}
        {% if is_granted('ROLE_EDITOR_ADD') %}
            <a class="btn btn-success my-3" href="{{ path('batch_new') }}">Добавить папку</a>
        {% endif %}
    {% else %}
        <a class="btn btn-success my-3" href="{{ path('yandex_auth') }}">Авторизация в Yandex.Disk</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ ordering('b.id','Id') }}</th>
            <th>Папка</th>
            <th>Домен</th>
            <th>Дата создания</th>
            <th>Фотографий ({{ total_photos }})</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for batch in pagination %}
            <tr>
                <td><a href="{{ path('batch_edit', {'id': batch.id}) }}">{{ batch.id }}</a></td>
                <td><a href="{{ path('batch_edit', {'id': batch.id}) }}">{{ batch.folder }}</a></td>
                <td>{{ batch.domain }}</td>
                <td>{{ batch.createdAt ? batch.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ batch.photos|length }}</td>
                <td><a target="_blank" href="{{ batch.link }}"><i class="fa fa-folder-open"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Папки не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/depended_lists.js') }}"></script>
{% endblock %}
